/* seset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
1. Vị trí
2. Kích Thước
3. Màu sắc
4. Kiểu dáng
 */

 .p-t-b-64{
     padding: 64px 0;
 }

 .text-center{
     text-align: center !important;
 }

 .row{
     margin-left: -8px;
     margin-right: -8px;
 }

 .row::after{
     content: "";
     display: block;
     clear: both;
 }

 .col{
     float: left;
     padding-left: 8px;
     padding-right: 8px;
 }

 .col-third{
     width: 33.333%;
 }

 .col-half{
     width: 50%;
 }

 .col-full{
     width: 100%;
 }

 .mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

.btn{
    margin: 8px;
    background-color: black;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    position: absolute;
    bottom: 24px;
}
.btn:hover{
    background-color: tomato;
    cursor: pointer;
}

.pull-right{
    float: right;
}

 .text-white{
     color: white !important; 
 }

 html{
     font-family: "Lato", sans-serif;
     scroll-behavior: smooth;
 }

#main{

}

#header{
    font-style: none;
    height: 46px;
    background-color: black;
    position: fixed;
    top :0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

    #nav {
        display: inline-block;
    }

    #nav, .subnav {
        list-style: none;
    }

    #nav li {
        position: relative;
    }

    #nav > li {
        display: inline-block;
        font-weight: 100;
    }

    #nav > li > a {
        color: white;
        text-transform: uppercase;
    }

    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        cursor: pointer;
        display: block;
    }

    #nav li:hover .subnav{
        display: block;
    }

    #nav > li:hover > a,
    #nav .subnav li:hover a {
        background-color: #ccc;
        color: black;
    }

    #nav .subnav {
        display: none;
        min-width: 160px;
        top: 100%;
        left: 0;
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
         
    }

    #nav .subnav a {
        color: black;
        width: 100%;
        padding: 0 14px;
        line-height: 38px;
    }

    #header .mobile-menu-btn{
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    #header .mobile-menu-btn, 
    #header .search-btn{
        color: white;
        font-size: 25px;
        float: right;
        font-weight: 100;
        line-height: 46px;
        padding: 0 24px;
    }

    #header .mobile-menu-btn:hover,
    #header .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    /* ------------------------- */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* background: url('/assets/img/Slider/phuc\ 016.JPG') top center / cover no-repeat; */
    background: url('/assets/img/Slider/phuc\ 016.JPG') top center / cover no-repeat;

}

    #slider .text-content{
        color: white;
    padding: 48px 16px;
    position: absolute;
    bottom: 0;
    text-align: center;             /*         căn giữa     */
    left: 50%;                       /*            cách 2  */
    transform: translateX(-50%);     /*            width: 100%  */

    }

    #slider .text-content .text-heading{
        margin: 10px 0;
        line-height: 1.5;
    }


/* =============================== */
#content{
    
}
    /* ============The Band============== */
    #content .content-section{
        width: 800px;
        max-width: 100%; 
        margin: 0 auto;
        padding: 64px 16px;
    }

    #content .section-heading{
        font-size: 30px;
        line-height: 1.5;
        margin: 10px 0;
        font-weight: 200;
        letter-spacing: 4px;
    }

    #content .section-sub-heading{
        font-size: 14px;
        opacity: 0.6;
        margin: 15px 0;
        font-style: italic;
    }

    #content .content-section .about-text{
        text-align: justify;
        line-height: 1.5;
        margin: 15px 0;
    }
    
    #content .section-heading,
    #content .section-sub-heading{
        text-align: center;
    }
    
    .members-list{
        margin: auto;
        display: flex;
        padding: 32px 0;
    }
    
    .members-list .member-img{
        width: 60%;
        height: auto;
        margin-bottom: 16px;
        border-radius: 5px;
    }
    
    .members-list .member-item{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .members-list .member-name{
        font-size: 15px;
        margin: 15px 0;
    }

    /* ==========Tour Dates============== */
    .tour-section{
        background-color: black;
    }

    .tour-section .tickets-list{
        background-color: white;
        margin-top: 40px;
    }

    .tour-section .tickets-list li{
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
    }

    .tour-section .tickets-list .sold-out{
        margin-left: 20px;
        background-color: #F44336;
        color: white;
        padding: 2px 8px;
    }

    .tour-section .tickets-list .quantity{
        background-color: #000;
        color: #fff;
        float: right;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 50%;
    }
    /*============ Tuor place ==========*/
    .tour-section .place-list{
        display: flex;
        padding: 32px 0px;
        margin: auto;
        justify-content: space-between;
    }

    .tour-section .place-list .place-item{
        background: white;
        width: 32%;
        /* height: auto; */
        /* flex-basis: 30%; */
        min-height: 380px;
        position: relative;
    }

    .tour-section .place-list .place-item .place-img{
        width: 100%;
    }

    .tour-section .place-item .place-heading{
        margin: 15px 0 15px 8px;
        font-size: 15px;
    }
    .tour-section .place-item .place-time{
        margin: 15px 0 15px 8px;
        font-size: 15px;
        opacity: 0.6;
    }
    .tour-section .place-item .place-description{
        margin: 15px 0;
        margin-left: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    
    /* ==========contact============== */

    .contact-content{
        margin-top: 16px;
        padding: 32px 0;
        position: relative;
        margin-bottom: 64px;
    }

    .contact-content .contact-info{
        font-size: 18px;
        line-height: 1.5
        ;
    }

    .contact-content .contact-info i[class*="ti-"] {
        width: 30px;
        display: inline-block;
    }

    .contact-form {
        font-size: 15px;
    }

    .contact-form .form-control {
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
    }

    /* .contact-form .form-submit-btn{
        position: absolute;
        background-color: black;
        color: white;
        border: 1px solid black;
        font-size: 15px;
        padding: 10px 18px;
        right: 8px;
        
        
    }
    .contact-form .form-submit-btn:hover{
        background-color: #ccc;
        cursor: pointer;
    } */

    /* =============End Contact============ */
    
    /* =========Map Section=========== */
    .map-section img{
        width: 100%;
    }

/* ====================== */
#footer{
    padding: 64px 16px;
    /* display: block; */
}

    #footer .social-list {
        font-size: 24px;
    }

    #footer .social-list a{
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    #footer .copyright a:hover,
    #footer .social-list a:hover {
        color: rgba(0, 0, 0, 0.4);

    }

    #footer .copyright{
        color: rgba(0, 0, 0, 0.6);
    }

    #footer .copyright a{
        color: rgba(0, 0, 0, 0.6)
        
    }




/* ===========modal=============== */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal .modal-container{
    background-color: white;
    position: relative;
    max-width: calc(100% - 32px);
    width: 900px;
    min-height: 200px;
    animation: modalFaceIn ease 0.5s;
}

.modal-header{
    height: 130px;
    font-size: 30px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 4px;
}   

.modal-close{
    position: absolute;
    color: white;
    right: 0;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 100;
}

.modal-close:hover{
    background: tomato;
    color: black;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
    margin-left: 16px;
}

.modal-label {
    display: block;
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.modal-input{
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.buy-tickets{
    width: 100%;
    font-size: 16px;
    padding: 16px;
    margin: 16px 0;
    background-color: #009688;
    color: white;
    font-weight: 600;
}
#buy-tickets{
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    background-color: #009688;
    color: white;
    font-weight: 700;
}

#buy-tickets:hover{
    background-color: tomato;
    cursor: pointer;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 12px;
}

.modal-footer .modal-help a{
    color: #2196F3;
}

/* ======js========= */
 .open{
     display: flex;
 }
 /* ================= */
 @keyframes modalFaceIn{
     from{
        transform: translateY(-100px);
     } to {
        transform: translateY(0);
     }
 }

/* ======================================= */
